// Colors.
$brown: #573f44;
$blue: #264ceb;
$beige: #faf5ea;
$purple: #ddd9ff;

// Font
$font-color: $brown;
$font-family: 'felt tip woman', sans-serif;
$title-font: 'chelsea market open', sans-serif;
$font-size: 16px;
$font-weight: 400;
