@use '../variables.scss';
@use '../general/grid.scss' as grid;

.nav {
  margin: 2rem 0 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0;

  li {
    list-style-type: none;
  }

  a {
    font-size: 1.3rem;
    font-weight: 700;
  }
}
